.card {
  position: relative;
  margin: auto;
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 19px 38px #0000004d, 0 15px 12px #00000038;
}

.cardContent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  border: 2px dashed #2a5979;
  border-radius: 5px;
}
