.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;

  background-color: #0e1118;
}

.header .logo {
  display: flex;
  flex-direction: row;

  & svg {
    width: 22px;
    height: 22px;
    padding: 0 5px;
  }
}

.header span {
  font-size: 1.5em;
  margin-left: 10px;
}

.header nav {
  font-size: 1.1em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 70px;
  z-index: 20;

  & a {
    margin-right: 50px;
    font-weight: 700;
    cursor: pointer;
  }
}
