@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@400;600;700;900&display=swap');

html, body {
  padding: 0;
  margin: 0;
}

* {
  text-decoration: none;
  color: #EAF2EF;
  font-family: 'Work Sans', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #EAF2EF;
  background-image: url('../../../assets/images/login-cover.jpeg');
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 90px;
  width: 500px;
  height: 420px;
  padding: 20px;
  background-color: #0e1118;
  background-position: bottom right;
  border-radius: 12px;
  box-shadow: 0 19px 38px rgba(145,59,12,0.5), 13px 13px 18px rgba(145,59,12,0.5);
}

.loginContainer .logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  & svg {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
}

.loginContainer span {
  margin-top: 20px;
  font-size: 1.4em;
  font-weight: 700;
}

.loginContainer .verticalGroup {
  display: flex;
  flex-direction: column;
}

.loginContainer form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-items: flex-end;
  padding: 50px 60px 20px;

  & input {
    width: 100%;
    height: 32px;
    padding: 0 15px;
    margin: 20px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #0e1118;
    background-color: #eaf2ef;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Work Sans", sans-serif;
    border: none;
    transition: box-shadow 250ms linear;

    &.failure {
      box-shadow: 0 0 0 3px #ce412f;
    }
  }

  & .errorLabel {
    font-size: 1em;
    margin: 5px auto 0;
    opacity: 0;
    transition: opacity 250ms linear;

    &.active {
      opacity: 1;
    }
  }
}

.loginContainer form .submitContainer {
  position: relative;
  width: 100%;
  height: 42px;
  margin: auto auto 10px auto;
  box-sizing: border-box;
  align-self: flex-end;
  justify-self: center;

  &.loadingEnterActive {
    animation: animateSubmitContainer;
    animation-duration: 1010ms;
  }

  &.loadingEnterDone {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  &.loadingExitActive {
    animation: animateSubmitContainer;
    animation-duration: 1010ms;
    animation-direction: reverse;
  }
  
  & .submitLoader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    visibility: hidden;
    z-index: 1;

    & .hold {
      position: absolute;
      width: 100%;
      height: 100%;
      clip: rect(0px, 80px, 80px, 40px);
      border-radius: 50%;
      background-color: transparent;
    }

    & .fill {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      clip: rect(0px, 40px, 80px, 0px);
      background-color: #eaf2ef;
    }

    & .right {
      transform: rotate(180deg);
    }
  }

  &.authenticatingEnterActive .submitLoader {
    visibility: visible;
  }

  &.authenticatingEnterActive .left .fill {
    animation-name: start, end;
    animation-duration: 450ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both, forwards;
    animation-delay: 0ms, 900ms;
  }

  &.authenticatingEnterActive .right .fill {
    animation-name: start, end;
    animation-duration: 450ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both, forwards;
    animation-delay: 450ms, 1350ms;
  }

  & .submitButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37px;
    margin: auto;
    padding: 0px;
    background-color: #FEAE01;
    border-radius: 20px;
    cursor: pointer;
    z-index: 4;
    color: black;
    transition: background-color 0.3s linear;
    
    &.success {
      background-color: #57df57;
    }

    &.failure {
      background-color: #ce412f;
    }

    & span {
      margin: 0;
      font-size: 1em;
      font-weight: 600;
      color: black;
    }

    & .text {
      transform: scale(1);
      font-size: 1.7em;
      
      & path {
        fill: #eaf2ef;
      }
    }
  }

  &.loadingEnterActive .submitButton {
    animation: animateSubmitButton 1010ms;
  }

  &.loadingEnterDone .submitButton {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  &.loadingExitActive .submitButton {
    animation: animateSubmitButton 1010ms;
    animation-direction: reverse;
  }

  &.responseEnter .text {
    transform: scale(0);
  }

  &.responseEnterActive .text {
    animation-name: growText;
    animation-duration: 400ms;
  }

  &.responseEnterDone .text {
    transform: scale(1);
  }

  &.responseExitActive .text {
    animation-name: growText;
    animation-direction: reverse;
    animation-duration: 400ms;
  }

  &.responseExitDone .text {
    transform: scale(0);
  }

  &.redirectEnterActive .submitButton {
    animation: growButton 2010ms;
  }

  &.redirectEnterDone .submitButton {
    transform: scale(50);
  }

  &.redirectEnterActive .text {
    animation-name: hideText;
    animation-duration: 400ms;
    opacity: 0;
  }

  &.redirectEnterDone .text {
    opacity: 0;
  }
}

@keyframes animateSubmitContainer {
  60% {
    width: 42px;
    height: 42px;
    border-radius: 20px;
  }

  100% {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

@keyframes animateSubmitButton {
  60% {
    width: 37px;
    height: 37px;
    border-radius: 20px;
  }

  100% {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}

@keyframes start {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(180deg); }
}

@keyframes end {
  0% {transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes growText {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes hideText {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes growButton {
  0% { transform: scale(1); }
  100% { transform: scale(50); }
}