.modal {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;

  &.enterActive {
    animation: fade 510ms;
  }

  &.enterDone {
    opacity: 1;
  }

  &.exitActive {
    animation: fade 510ms;
    animation-direction: reverse;
  }

  &.exitDone {
    opacity: 0;
  }
}

.background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 20;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: 0;
}

.modalContainer {
  position: fixed;
  top: 20%;
  left: calc(50% - 300px);
  z-index: 30;

  & button.close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #d0e5f8;
    outline: none;
    background-color: #002935;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  & button.close:hover {
    color: #002935;
    background-color: #d0e5f8;
  }
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}