.eventListing {
  width: 100%;
  max-height: 130px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: #141f3b;
  box-sizing: border-box;
  color: #EAF2EF;
  cursor: pointer;
  transition: background-color 0.2s linear, max-height 500ms linear;

  &:hover {
    background-color: #10192e;
  }

  &.active {
    max-height: 200px;
  }

  & .description {
    margin: 20px 0 0 45px;
    opacity: 0;

    &.eventEnterActive {
      animation: fade;
      animation-duration: 410ms;
    }

    &.eventEnterDone {
      opacity: 1;
    }

    &.eventExitActive {
      animation: fade;
      animation-direction: reverse;
      animation-duration: 410ms;
    }

    &.eventExitDone {
      opacity: 0;
    }
  }

  & .eventContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    & .chevron {
      transform: rotate(0);
      transition: transform 0.3s linear;
    }

    & .chevron.active {
      transform: rotate(180deg);
    }
  }
}

.eventContent {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  & h4 {
    color: white;
    font-size: 1.1em;
    margin: 0 0 10px;
  }
}

.eventInfo {
  display: flex;
  flex-direction: row;

  & span {
    font-weight: 300;
    font-size: 0.9em;
  }

  & .dateGroup {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;

    & .date {
      justify-self: end;
    }
  }
}

.buttonGroups {
  margin-left: auto;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;

  &.active {
    display: flex;
  }

  & button {
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 1.3em;
    transition: font-size 0.2s linear;
    cursor: pointer;

    &:hover {
      font-size: 1.7em;
    }

    &.accept { background-color: #57df57; }
    &.deny { background-color: #ce412f; }
  }
}

.verticalGroup {
  display: flex;
  flex-direction: column;
}

@keyframes fade {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
