.fc {
  height: 100%;
}

.fc-day-header span {
  color: #1d2b4e;
}

.fc-day-number {
  color: #1d2b4e;
}

.fc-time span {
  color: #1d2b4e;
}

.fc-event-container > .fc-event {
  transition: background-color 0.3s linear;
}