.pageContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2b4e;
  box-sizing: border-box;

  & h1 {
    margin-bottom: 50px;
  }


  & > div {
    margin: 10px 0;
  }
}

.tabSelect {
  width: 100%;
  display: flex;
  flex-direction: row;


  & button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #0f182e;
    font-size: 1.1em;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }

  & button:hover {
    background-color: #080d1a;
  }

  & button.active {
    background-color: #080d1a;
  }

  & button:first-of-type {
    border-radius: 7px 0 0 7px;
  }

  & button:nth-child(3) {
    border-radius: 0 7px 7px 0;
  }

  & button.add {
    width: 40px;
    padding: 10px;
    margin-left: auto;
    border-radius:  7px;
  }

  & button.refresh {
    width: 40px;
    padding: 10px;
    margin-left: 7px;
    border-radius:  7px;
  }
}

.calendarContainer {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #0e1118;
}